@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap');

#logo {
    width: 13%;
    float: right;
}

body {
    background-image: url(imagenes/fondo\ 4.webp);
    font-family: "Gowun Batang", serif;
}

.ejercicios {
    width: 30%;
    margin: 20px;
}

h1 {
    text-align: center;

}

.dias {
    text-decoration: none;
    background-color: white;
    font-size: 2em;
    margin: 20px;
    border-radius: 7px;
    border: 2px solid red;
    text-align: center;
    padding: 5px;
}

nav {
    text-align: center;
}

header {
    background-color: rgba(175, 224, 165, 0.719);
    position: fixed;
    top: 0;
    width: 100%;
}

h2 {
    font-size: 3em;
    margin: 30px;
}

main {
    background-color: rgba(247, 247, 247, 0.5);
    margin-top: 150px;
}

p {
    font-size: 1.3em;
    margin: 30px;

}

h3 {
    font-size: 2em;
    margin: 30px;
}

h4 {
    font-size: 1.6em;
    margin: 30px;
}

#home {
    width: 7%;
    top: 20px;
    position: fixed;
    left: 20px;
}

iframe {
    margin: 20px 70px;
}

@media (max-width=700px) {
    nav {
        display: grid;
        grid-template-columns: auto auto;

    }

    nav a {
        margin: 40px;
    }
}

h5 {
    font-size: 1.4em;
}